/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding: 100px 0;
  color: var(--main-text-color);
  font-family: var(--main-font);
  background: repeating-linear-gradient(
      var(--bg-repeating-gradient) 0,
      var(--bg-repeating-gradient) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--bg-repeating-gradient) 0,
      var(--bg-repeating-gradient) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      var(--bg-linear-gradient-top) 0%,
      var(--bg-linear-gradient-top) 0.01%,
      var(--bg-linear-gradient-bottom) 100%
    );
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: var(--text-font-weight);
  }
}

.wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
}

.header {
  border: 2px solid var(--main-text-color);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px;
  font-family: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
  background: var(--bg-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  margin: 20px 0;
  font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.5rem;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 0.88rem;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  from {
    left: -20px;
  }
  to {
    left: -16px;
  }
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 0.125rem;
  margin: 0.125rem 0 0;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  content: "";
  display: block;
  height: 0.125rem;
  margin: 0.125rem 0 0;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(1);
  transform-origin: left;
}

.content {
  padding: 100px 0 0;
}

.card {
  margin: 0 0 50px;
  border: 2px solid var(--main-text-color);
  background: var(--bg-color);
}

.card__title {
  padding: 3.5px 10px;
  font-weight: var(--title-font-weight);
  font-size: 1.13rem;
  line-height: 1.38rem;
}

.card__image-wrapper {
  position: relative;
  border-top: 2px solid var(--main-text-color);
  border-bottom: 2px solid var(--main-text-color);

}

.card__image-hashtag {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 0.88rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px var(--hashtag-text-stroke),
    -1px -1px 1px var(--hashtag-text-stroke);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--hashtag-text-stroke)) {
  .card__image-hashtag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--hashtag-text-stroke);
  }
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.happy {
  filter: contrast(130%);
}

.anxiety {
  filter: brightness(120%);
}

.solace {
  filter: invert(30%);
}

.comfort {
  filter: hue-rotate(0.1turn);
}

.support {
  filter: grayscale(20%) sepia(0.2);
}

.deepdive {
  filter: opacity(80%);
}

.care {
  filter: blur(2px);
}

.proud {
  filter: saturate(120%);
}

.card__text-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__textblock {
  font-size: 1.13rem;
  line-height: 1.31rem;
}

.card__like-block {
  display: flex;
  align-items: end;
  gap: 6px;
  align-self: flex-end;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-text-color);
  transition: border 0.3s ease;
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon .like-icon__core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .like-icon__core {
  fill: var(--like-icon-contour);
  transition: fill 0.3s linear;
}

.like-icon:active .like-icon__core {
  fill: var(--like-icon-sparks);
  transition: fill 0.3s linear;
}

.like-icon .like-icon__body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .like-icon__body {
  fill: var(--like-icon-contour);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .like-icon__body {
  fill: var(--like-icon-sparks);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .like-icon__core {
  fill: var(--like-icon-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .like-icon__body {
  fill: var(--like-icon-sparks);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .like-icon__contour {
  fill: var(--like-icon-contour);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .like-icon__contour {
  fill: var(--like-icon-sparks);
  transition: fill 0.3s 0.06s linear;
}

.like-icon .like-icon__heart {
  transition: 0.3s ease;
}

.like-icon .like-icon__sparks {
  transition: 0.3s ease;
}

.like-icon.is-liked .like-icon__sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.like-icon.is-liked {
  animation: scaling 0.3s 0.1s ease-in;
}

@keyframes scaling {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card__like-button {
  justify-content: center;
  min-width: 8.125rem;
  padding: 12px 0;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-text-color);
  background: var(--bg-color);
  transition: box-shadow 0.3s ease;
}

.animated-button:focus {
  box-shadow: 2px 2px var(--main-text-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.animated-button::after {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 101%;
  background: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left 100%;
}

.animated-button:hover::after {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  display: block;
  color: var(--button-text);
  font-family: var(--accent-font);
  font-size: 0.88rem;
  line-height: 90%;
  mix-blend-mode: difference;
}

.save-section {
  display: flex;
  justify-content: center;
}

.save-section__button {
  gap: 8px;
  padding: 16px 20px;
}

.save-section__icon {
  position: relative;
  z-index: 1;
  width: 1.3125rem;
  height: 1.3125rem;
  color: var(--button-text);
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  width: clamp(21.5625rem, 21.2984rem + 1.1268vw, 22.3125rem);
  min-height: 12.1875rem;
  border: 2px solid var(--main-text-color);
  background-color: var(--bg-color);
  transition: opacity 0.1s ease;
}

.dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
  min-height: 8.5625rem;
}

.dialog__content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  align-items: center;
  column-gap: 20px;
}

.dialog__icon {
  width: 2.4375rem;
  color: var(--main-text-color);
  aspect-ratio: 1/1;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__title {
  color: var(--main-text-color);
  font-family: var(--accent-font);
  font-size: 0.88rem;
  line-height: 150%;
}

.dialog__button {
  justify-content: center;
  height: 2.375rem;
}

@media screen and (width <= 375px) {
  .wrapper {
    width: 100%;
  }

  .header__title {
    font-size: clamp(2.6875rem, 0.5057rem + 10.9091vw, 3.0625rem);
  }

  .save-section__icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .save-section__button {
    flex-direction: column;
  }
}
